{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "__DEV__": false
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "max-len": [
      "error",
      {
        "code": 300
      }
    ],
    "object-curly-newline": "off",
    "jsx-a11y/href-no-hash": "off",
    "consistent-return": "off",
    "no-throw-literal": "off",
    "no-restricted-properties": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "import/prefer-default-export": false,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*test.js",
          "**/*.spec.js",
          "**/shallowTestHelper.js", 
          "**/storybook/*/*.js",
          "**/storybook/*.js"

        ]
      }
    ]
  }
}