# See https://help.github.com/ignore-files/ for more about ignoring files.

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# android
build/
.idea
.gradle
local.properties
*/app-release.apk
*.iml
.vscode

# node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
coverage/
